{
	"domainFile": "domains.txt",
	"consoleOutput": "free",
	"outputFile": "free",
	"send": true,
	"mailOutput": "free",
	"host": "your.mail.server",
	"port": 25,
	"user": "your@mail.com",
	"pass": "password",
	"from": "\"Free Domain Checker\" <your@mail.com>",
	"to": "your@mail.com"
}
